.body{
	background: #BEEDEB
}

.h2-color{color:#3F4896; text-shadow: 1px 1px;}

.h3-shape{color: #3F4896; text-decoration: underline;}

.h3-color {color: #3F4896; text-decoration: underline;}

.h3-Behavior{color: #3F4896; text-decoration: underline;}

.h3-Lorem-ipsum {color: #3F4896; text-decoration: underline;}

.my-container {
    text-align: center;
    background-color: #81C9DC;
	border: 1px solid blue;
    width: 819px;
    min-height: 152px;
      }

.p-information{color: #3F4896;   text-transform: uppercase;}